
.listView {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
}

.listViewItemBackground {
    z-index: 5;
    /*background-color: blue;*/
    border-radius: 1rem;
    margin: 1px;
}

.listViewItemBackgroundContent {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-weight: bold;
}

/* Create two equal columns that floats next to each other */
.listView .listViewItem {

    z-index: 10;
}

/* Create two equal columns that floats next to each other */
.listView .listViewItem .listViewItemContent {
    /*float: left;*/
    /*width: 50%;*/
    padding: 1rem;
    background-color: #aaa;
    /*width: 100%;*/
    border-radius: 1rem;
}

/* Clear floats after the columns */
.listView .listViewItem:after {
    content: "";
    display: table;
    clear: both;
}


.prompt-action-left {
    /*background: rgba(255, 255, 150, 0.4);*/
    transform: translateX(-120px);
}

.prompt-action-right {
    /*background: rgba(255, 150, 255, 0.4);*/
    transform: translateX(120px);
}

/*#wrap {*/
/*    background: linear-gradient(to bottom, rgba(135,153,255,1) 0%,rgba(233,60,236,1) 100%);*/
/*    overflow:hidden;*/
/*    margin: 0 auto;*/
/*}*/

/*#wrap ul {*/
/*    margin:0;*/
/*    padding:0;*/
/*}*/

/*#wrap ul li {*/
/*    margin:0;*/
/*    padding:0;*/
/*    list-style-type:none;*/
/*    height: 160px;*/
/*    display:block;*/
/*    background: rgba(255,255,255,0.2);*/
/*    border-top: 1px solid #eee;*/
/*    border-bottom: 1px solid #666;*/
/*    transition:transform 0.3s ease-out, background-color 0.3s ease-out;*/
/*}*/

/*#wrap small {*/
/*    font-size:0.4em;*/
/*    color:#fff;*/
/*}*/

/*#wrap a {*/
/*    color: #333;*/
/*    display:block;*/
/*    height: 100%;*/
/*    font-size:3em;*/
/*    text-decoration:none;*/
/*    text-indent:140px;*/
/*}*/
